.header-wrapper {
  border-bottom: 1px solid var(--color-border-grey);
}
.header {
  padding: 4px;
}
.header .active {
  border-bottom: 2px solid var(--color-text-blue);
  transition: 0.5s;
}
.header a {
  color: var(--dark);
  text-decoration: none !important;
  margin: 0 10px;
  padding: 5px;
  border-bottom: 2px solid none;
}
.header a:hover {
  border-bottom: 2px solid var(--dark);
}
