.item {
  background-color: var(--bg-item);
  list-style: none;
  padding: 1.5rem;
  border: 1px solid;
  cursor: pointer;
  border-color: rgba(55, 65, 81, 1);
  position: relative;
}
.item:hover {
  border: 1px solid #60a5fa;
  border-color: rgba(96, 165, 250, 1);
}
.item .title {
  font-size: 16px;
  color: var(--color-text-blue);
}

.item .item-highlight {
  position: absolute;
  right: 5%;
  top: 5%;
}
.item .item-createAt {
  color: var(--dark);
}
